{% load static%}
<!doctype>
<html>
    <head>
        <title>Cooking Guide</title>
        <link rel="stylesheet" type="text/css" href="{% static 'cook/index.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'cook/cook.css'%}">
    </head>

    <body>

        <header>

            <div  id="header" align="center">

                <h3>Cooking Guide</h3>

            </div>

        </header>

        <section>
            <h1 id="empty">So Empty</h1>
        </section>

    </body>
</html>